services:
{% include "services/golem.yml.j2" %}
{% include "services/prometheus.yml.j2" %}
{% include "services/grafana.yml.j2" %}
{% include "services/gatus.yml.j2" %}
{% include "services/node-exporter.yml.j2" %}
{% include "services/pushgateway.yml.j2" %}
