services:
  nginx:
    image: ghcr.io/relax-dot-gg/nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
      - "8081:8081"
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./config/conf.d:/etc/nginx/conf.d:ro
      - /etc/ssl:/etc/ssl:ro

  imageproxy:
    image: ghcr.io/relax-dot-gg/imageproxy:latest
    container_name: imageproxy
    restart: unless-stopped
    environment:
      IMAGEPROXY_ADDR: "0.0.0.0:8080"
      IMAGEPROXY_ALLOWED_HOSTS: "s3.wasabisys.com"
      CACHE_DIR: "/var/cache/imageproxy"
      CACHE_TMP: "/var/cache/imageproxy-tmp"
      CACHE_MAX: "50G"
      PRUNE_INTERVAL: "300"
      CACHE_TTL: "7d"
    volumes:
      - ./data/imageproxy-cache:/var/cache/imageproxy
      - /tmp:/var/cache/imageproxy-tmp

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor
    restart: unless-stopped
    privileged: true
    ports:
      - "8082:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: always
    command:
      - '--path.rootfs=/host'
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
      - '--web.config.file=/etc/node_exporter/web.config.yml'
    volumes:
      - /:/host:ro,rslave
      - ./config/node_exporter/web.config.yml:/etc/node_exporter/web.config.yml:ro
    ports:
      - "9100:9100"
    network_mode: host
    pid: host
{% include "services/edge-prober.yml.j2" %}
