services:
{% include "services/node-exporter.yml.j2" %}
{% include "services/cadvisor.yml.j2" %}
{% include "services/edge-prober.yml.j2" %}

  chainlink-proxy:
    image: nginx:1.27
    container_name: chainlink-proxy
    restart: unless-stopped
    volumes:
      - ./config/chainlink-proxy/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./config/chainlink-proxy/htpasswd:/etc/nginx/conf.d/htpasswd:ro
    ports:
      - "80:80"

  postgresql:
    image: postgres:16
    container_name: postgresql
    restart: always
    environment:
      POSTGRES_PASSWORD: {{ _07988181_postgresql_root_password }}
      POSTGRES_USER: postgres
    ports:
      - "127.0.0.1:5432:5432"
      - "100.92.221.118:5432:5432"
    volumes:
      - /data/postgresql:/var/lib/postgresql/data

  mainnet-primary:
    image: smartcontract/chainlink:2.36.0
    container_name: mainnet-primary
    restart: unless-stopped
    user: "1500:1500"
    ports:
      - "6688:6688"
    volumes:
      - /home/chainlink/.chainlink:/.chainlink
    environment:
      - CL_DATABASE_URL={{ _07988181_postgresql_chainlink_dsn }}
      - CL_CHAIN_ADAPTERS_ETH_URL=wss://eth-mainnet.g.alchemy.com/v2/P-sft3UGJe01tTVOg7aUKebvEexwumpl
      - CL_ADMIN_CREDENTIALS_FILE=/.chainlink/.api
      - CL_PASSWORD_FILE=/.chainlink/.password
      - CL_DATABASE_LOCKING_MODE=dual
      - CL_ALLOW_ORIGINS=*
      - CL_LOG_LEVEL=info
      - CL_MINIMUM_CONTRACT_PAYMENT_LINK_JUELS=1000000000000000000
    depends_on:
      - postgresql
    command: >
      node start
      --password /.chainlink/.password
      --api /.chainlink/.api
