services:
{% set redis_password = _5ff85b1c_redis_password %}
{% set redis_data_dir = './redis-data' %}
{% set redis_exporter_port = '9121' %}
{% set redis_port = '6379' %}
{% include "services/redis.yml.j2" %}
{% include "services/cadvisor.yml.j2" %}
{% include "services/node-exporter.yml.j2" %}
{% include "services/edge-prober.yml.j2" %}
