services:
  google-weather:
    image: node:18-bullseye
    container_name: google-weather
    restart: always
    working_dir: /app/packages/composites/google-weather
    environment:
      PORT: 8082
      EA_PORT: 8082
      PROJECT_ID: cryptonode-ops-dev
      SA_B64: "{{ _bfc70ead_gcp_weather_sa_b64 }}"
    command: >-
      /bin/bash /entrypoint.sh
    ports:
      - "8082:8082"
    volumes:
      - /home/chainlink/external-adapters-js-private:/app
      - /var/lib/ea-cache:/tmp
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    configs:
      - source: google_weather_entrypoint
        target: /entrypoint.sh
        mode: 0755


{% include "services/node-exporter.yml.j2" %}
{% include "services/cadvisor.yml.j2" %}
