  node-exporter:
    image: prom/node-exporter:latest
    restart: always
    command:
      - '--path.rootfs=/host'
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
      - '--collector.textfile.directory=/var/lib/node_exporter/textfile_collector'
      - '--web.config.file=/etc/node_exporter/web.config.yml'
    volumes:
      - /:/host:ro,rslave
      - /var/lib/node_exporter/textfile_collector:/var/lib/node_exporter/textfile_collector:ro
      - ./config/node_exporter/web.config.yml:/etc/node_exporter/web.config.yml:ro
    network_mode: host
    pid: host
