  woodpecker-agent:
    image: woodpeckerci/woodpecker-agent:v3.12.0
    container_name: woodpecker-agent
    restart: always
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WOODPECKER_SERVER={{ woodpecker_grpc_endpoint | default("infralink0.shrimp-crested.ts.net:9000") }}
      - WOODPECKER_AGENT_SECRET={{ woodpecker_agent_secret }}
      - WOODPECKER_MAX_WORKFLOWS={{ woodpecker_max_workflows | default("2") }}
      - WOODPECKER_PLUGINS_PRIVILEGED=woodpeckerci/plugin-docker-buildx
