services:
  mariadb:
    image: ghcr.io/relax-dot-gg/mariadb:latest
    container_name: database
    restart: always
    network_mode: host
    environment:
      MARIADB_ROOT_PASSWORD: {{ _002d015e_mariadb_root_password }}
    volumes:
      - /srv/docker/db/data:/var/lib/mysql
      - ./config/mariadb/my.cnf:/etc/mysql/my.cnf:ro
{% set mariadb_root_password = _002d015e_mariadb_root_password %}
{% set mariadb_container_name = 'database' %}
{% set mariadb_network_mode = 'host' %}
{% set mariadb_data_dir = '/srv/docker/db/data' %}
{% set mariadb_ports = [] %}
{% set mariadb_extra_volumes = ['./config/mariadb/my.cnf:/etc/mysql/my.cnf:ro'] %}
{% include "services/mariadb.yml.j2" %}

{% set redis_password = _002d015e_redis_password %}
{% set redis_data_dir = '/mnt/nosql/redis/data' %}
{% set redis_exporter_port = '9121' %}
{% set redis_port = '6379' %}
{% set redis_port_bindings = ['127.0.0.1:6379:6379', '100.99.100.7:6379:6379'] %}
{% set redis_config_path = '/opt/services/config/redis/redis.conf' %}
{% set redis_config_container_path = '/etc/redis/redis.conf' %}
{% include "services/redis.yml.j2" %}
{% set elasticsearch_password = _002d015e_elasticsearch_password %}
{% set elasticsearch_data_dir = '/mnt/nosql/elasticsearch/data' %}
{% set elasticsearch_security_enabled = false %}
{% set elasticsearch_discovery_type = '' %}
{% set elasticsearch_env = {
  'cluster.name': 'docker-cluster',
  'node.name': 'bdsmlr-db',
  'node.master': 'true',
  'node.data': 'true',
  'node.ingest': 'false',
  'ES_JAVA_OPTS': '-Xms24g -Xmx24g',
  'network.host': '127.0.0.1,100.99.100.7,172.17.0.1,172.18.0.1,172.19.0.1,172.20.0.1',
  'discovery.seed_hosts': '100.99.100.7,100.93.157.126',
  'cluster.initial_master_nodes': 'bdsmlr-db',
  'cluster.routing.allocation.disk.watermark.low': '92%',
  'cluster.routing.allocation.disk.watermark.high': '96%',
  'cluster.routing.allocation.disk.watermark.flood_stage': '98%',
  'cluster.info.update.interval': '1m'
} %}
{% include "services/elasticsearch.yml.j2" %}
{% set elasticsearch_host = '127.0.0.1' %}
{% set elasticsearch_port = '9200' %}
{% include "services/elasticsearch-exporter.yml.j2" %}
{% set mysqld_exporter_dsn = _002d015e_mariadb_exporter_dsn %}
{% set mysqld_exporter_port = '9104' %}
{% include "services/mysqld-exporter.yml.j2" %}
{% include "services/cadvisor.yml.j2" %}
{% include "services/node-exporter.yml.j2" %}
{% include "services/edge-prober.yml.j2" %}
