[mysqld]
innodb_buffer_pool_size = 12G
innodb_log_file_size = 512M
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 1
max_connections = 300
tmp_table_size = 256M
max_heap_table_size = 256M
