services:
{% include "services/cadvisor.yml.j2" %}
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: always
    command:
      - '--path.rootfs=/host'
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
      - '--web.config.file=/etc/node_exporter/web.config.yml'
    volumes:
      - /:/host:ro,rslave
      - ./config/node_exporter/web.config.yml:/etc/node_exporter/web.config.yml:ro
    ports:
      - "9100:9100"
    network_mode: host
    pid: host
{% include "services/edge-prober.yml.j2" %}
